.login {
    padding: 20px;
    max-width: 300px;
    margin: auto;
}

.login form label {
    display: block;
    margin-bottom: 10px;
}

.login form input,
.login form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
